@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/TTFirstNeue/TTFirsNeue-Light.eot");
  src: local("TT Firs Neue Light"), local("TTFirsNeue-Light"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Light.woff2") format("woff2"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Light.woff") format("woff"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/TTFirstNeue/TTFirsNeue-Regular.eot");
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Regular.woff2") format("woff2"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Regular.woff") format("woff"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/TTFirstNeue/TTFirsNeue-Bold.eot");
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Bold.woff2") format("woff2"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Bold.woff") format("woff"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/TTFirstNeue/TTFirsNeue-Medium.eot");
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Medium.woff2") format("woff2"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Medium.woff") format("woff"),
    url("../../fonts/TTFirstNeue/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
